.expense-item { display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
    
  margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(40, 41, 41);
    margin-left: 300px;
    margin-right: 300px;

  }
  .button1{background-color: silver;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(247, 44, 220, 0.1);
    margin-bottom: 20px;
    padding: 10px;

  }
  .button2{background-color: silver;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(247, 44, 220, 0.1);
    margin-bottom: 20px;
    padding: 10px;

  }
  .expense-item h1 {
    color: #f9f8fa;
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .expense-description {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 25px;
    background-color: grey;
    border-radius: 10px;
    width: 30rem;

  }
  .expense-amount{background-color: blueviolet;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(247, 44, 220, 0.1);
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .expense-date {
    background-color: rgb(80, 78, 82);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(247, 44, 220, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    font-size: 22px;
    margin-top: 5px;
    margin-right: 10px;
  }
  
  .expense-item2 {display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(114, 110, 117);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(247, 44, 220, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    font-size: 24px;
    font-weight: 1000;
   
  }
  
  .expense-price {flex-basis: 40%;
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: relative;
  }
  
  .location-of-expenditure {
    background-color: rgb(104, 102, 105);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(247, 44, 220, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    font-size: 24px;
    font-weight: 1000;
  }
  