.expense-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background-color: lightseagreen;
  }
  
  .expense-item h1 {
    color: #514b6d;
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .expense-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 40px;
    background-color: aquamarine;
    border-radius: 10px;

  }
  
  
  
  .expense-date {
    color: #514b6d;
    font-size: 38px;
  }
  
  .expense-item2 {
    color: #514b6d;
    font-size: 24px;
    font-weight: 1000;
   
  }
  
  .expense-price {
    color: #514b6d;
    font-size: 28px;
    font-weight: bold;
  }
  
  .location-of-expenditure {
    color: #514b6d;
    font-size: 24px;
    font-weight: 1000;
  }
  